body{
    background-color:rgb(71, 54, 73);
}
.jumbotron{
    background-image: url("../images/tag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 18%;
    padding-bottom: 20%;
}
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
.container {
    background-color: rgba(189, 188, 135, 0.705);
}
.one{
    background-color: cornsilk;
}

.column {
    float: left;
    width: 33.33%;
    padding: 3px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .row {
    display: flex;
    padding-left: 20%;
  }
  .column1 {
    float: left;
    width: 22%;
    padding: 2px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .row1 {
    display: flex;
    padding-left: 13%;
  }
  .portfolio h2{
    text-align: center;
    /*padding: 70px 0;*/
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    padding-left: 45%;
  }
  .image1{
    position:relative;
  
  }
  .overlay {
    position:absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity:0;
    transition: .5s ease;
    background-color: white;
    font-size:small; 
  }
  .image{
    display:block;
    width:100%;
    height: auto;
  }
  .image1:hover .overlay {
    opacity:0.5;